 #loader {
    --height:  100;
    position: absolute;
    width: 100%;
    height: 100%; 
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    transition: opacity 2s;
    pointer-events: none;
}

#loader::after {
    content: "";
    width: 100%;
    height: var(--height);
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 1;
    mix-blend-mode: color;
    left: 0;
}

#loader img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)
               translateY(-50%);
}

#circleLoader {
    position: absolute;
    z-index: 15;
    border: 14px solid #000000; 
    border-top: 14px solid #1100ff; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px;
    animation: spin 2s linear infinite;
}
  

* {
    font-family: "Audiowide", sans-serif;
    color: rgb(255, 255, 255);
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;
    gap: 2px;
}

body::before {
    content: '';
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 20%, rgba(0,0,255,1) 80%, rgba(0,0,0,1) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: movingBg 13s linear infinite;
}

body::after {
    content: '';
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.pixel {
    box-sizing: border-box;
    transition: background-color 1.5s;
    background-color: #000000;
}

.pixel:hover {
    background-color: rgb(0, 0, 255);
    transition: background-color 0s;
}

main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;  
}

#name {
    font-size: 8vw;
    margin: 0;
}

#alias{
    font-size: 3vw;
}

/* nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    pointer-events: none;
    flex-basis: 200px;
    align-items: flex-end;
    visibility: hidden;
}  

nav:not(.js-hide) a {
    animation: navLinksShow 0.5s;
}

nav.js-hide a {
    animation: navLinksHide 0.5s;
}

nav>a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    pointer-events: auto;
    border: solid 2px white;
    border-radius: 50px;
    width: 150px;
    height: min-content;
}

a:hover {
    background-color: aqua;
    box-shadow: 0 0 10px 10px aqua;
    transition: background-color 2s cubic-bezier(0,1.13,.27,.96),
                box-shadow 2s cubic-bezier(0,1.13,.27,.96),
                scale 0.5s linear;
    scale: 1.2;
    color: #000000;
    border-color: #000000;
}

a:active {
    color: #9900ff;
    border-color: #9900ff;
}

#menuBtn{
    all:unset;
    border: solid 3px white;
    border-radius: 50%;
    padding: 8px;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-content: center;
    justify-content: center;
    pointer-events: auto;
    margin-top: 90px;
} */

/* #menuBtn:hover {
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
}
  
nav:not(.js-hide) + #menuBtn .bar1  {
    transform: translate(0, 6px) rotate(-45deg);
}

nav:not(.js-hide) + #menuBtn .bar2 {
    opacity: 0;
}

nav:not(.js-hide) + #menuBtn .bar3 {
    transform: translate(0, -6px) rotate(45deg);
} */

#typeSimulation h3{
    text-align: center;
    color: #fff;
    border-right: 2px solid rgb(255, 255, 255); 
    height: 25px;
    margin: 100px auto 0 auto;
    padding-right: 5px;
    letter-spacing: .15em;
    text-transform: uppercase;
    animation: blink-caret .5s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255) }
  }

#motorcycle {
    font-size: 50px;
    position: relative;
    cursor: pointer;
    pointer-events: auto;
    margin-top: 100px;
}

#motorcycle.js-go {
    animation: ride 2s ease-in;
}

#motorcycle:hover::before {
    content: "Ready?";
    font-size: 0.2em;
    position: absolute;
    top: 10%;
    left: -70%;
}

#motorcycle.js-go::before {
    display: none;
}

#motorcycle::after {
    content: "Let's go!";
    font-size: 0.2em;
    position: absolute;
    top: 10%;
    left: -110%;
    display: none;
}
#motorcycle.js-go::after {
    display: inline;
}

@keyframes ride {
    30%{
        rotate: z -30deg;
    }
    100%{
        translate: 100vw;
    }
    
}

@keyframes movingBg {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
@keyframes navLinksShow {
    0%{
        opacity: 0;
        transform: translateY(70px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes navLinksHide {
    100% {
        opacity: 0;
        transform: translateY(70px);
    }
}

@media screen and (width <= 500px) {
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }  

    nav a {
        width: 100px;
        font-size: 15px;
        margin-top: 15px;
    }
    #menuBtn{
        all:unset;
        border: solid 3px white;
        border-radius: 50%;
        padding: 8px;
        width: 15px;
        height: 15px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        align-content: center;
        justify-content: center;
        pointer-events: auto;
        margin-top: 90px;
    }
    
    .bar1, .bar2, .bar3 {
        width: 15px;
        height: 3px;
        background-color: rgb(255, 255, 255);
        transition: 0.4s;
    }
      
    nav:not(.js-hide) + #menuBtn .bar1  {
      transform: translate(0, 5px) rotate(-45deg);
    }
    
    nav:not(.js-hide) + #menuBtn .bar2 {
        opacity: 0;
    }
    
    nav:not(.js-hide) + #menuBtn .bar3 {
      transform: translate(0, -5px) rotate(45deg);
    }
} */
