body {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: center;
}

img.materialboxed:not(.active) {
   height: 100dvh;
}

@media screen and (max-width: 700px) {
   img.materialboxed:not(.active) {
      width: 100%;
      height: auto;
   }

}
